<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><%= title %></h1>
<form action="" method="post">
    <ul>
        <li>
            <label for="name">Name</label>
            <input type="text" id="name" name="sm_name">
        </li>
        <li>
            <label for="email">Email</label>
            <input type="text" id="email" name="sm_email">
        </li>
        <li>
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="sm_phone">
        </li>
    </ul>

</form>
</body>
</html>